/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/* omega default overwritten */
body{
    background-color:#fff;
    font-family:arial;
    color:#333;
    font-size:12px;
    line-height:160%;
}
h1, h2, h3, h4, h5, h6 {
    font-family:arial;
}
p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
    margin-bottom: 0.5em;
}
ul li.leaf {
    list-style:none;
}
.field-type-taxonomy-term-reference ul,
ul.menu li {
    margin: 0;
    padding:0;
}
.field-type-taxonomy-term-reference{
    margin:1em 0;
}
.field-type-taxonomy-term-reference li,
.menu li {
    list-style: none outside none;
}
li.expanded, li.collapsed, li.leaf {
    margin: 0;
    padding: 0;
}
a,
a:link,
a:visited,
li a.active {
    color: #00B27A;
    text-decoration: none;
}
a:link:hover,
a:visited:hover,
li a.active:hover,
a:hover{
    text-decoration:underline;
}
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
        border: 1px solid #E0E0E0;
    color: #999999;
    font-size: 11px;
    min-height:28px;
}
.node-webform{
    background-color: #F9F9F9;
    padding: 20px;
}
.node-webform label{
    color:#666;
}
#messages{
    display: block;
    float: none;
    margin: 0;
    width: 100%;
}
/* layout */
#page{
    background-image:url('../images/body-bg.png');
    background-repeat:no-repeat;
    background-position:right top;
    width:1030px;
    margin:0 auto;
    position:relative;
    padding-top:454px;
}
body.not-front #page{
    padding-top:185px;
}
#section-header{
    width:980px;
    margin:0;
    height:454px;
    position:absolute;
    top:0;
    left:25px;
}
body.not-front #section-header{
    height:185px;
}
#section-content{
    margin:0 auto;
    background-color: #F9F9F9;
    border-color: #E5E5E5 #E0E0E0;
    border-left: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
    border-style: solid;
    border-width: 5px 1px;
    padding: 18px 15px;
    width: 930px;
    position:relative;
}
body.not-front #section-content{
    background-color:#fff;
}
#section-footer{
    width:980px;
    margin:0 auto;
    position:relative;
}
#region-branding,
#zone-branding,
#zone-user{
    width:100%;
    margin:0;
}
#zone-user-wrapper{
     position: absolute;
    right: 0;
    top: 0;
    z-index:10;
}
#region-user-second{
    width:auto;
    float:right;
}
#zone-content{
    width:100%;
    margin:0;
}
#region-content{
     display: block;
    float: none;
    margin: 0;
    width: 100%;
}
body.not-front #region-content{
    float:left;
    width:690px;
}
body.not-front #region-sidebar-first,
body.not-front #region-sidebar-second{
    border: 0 none;
    display: block;
    float: right;
    margin: 60px 0 0 20px;
    padding: 0;
    width: 220px;
}
body.not-front #region-sidebar-first{
    float: left;
    margin-left: 0;
    margin-right: 20px;
    margin-top: 20px;
}
body.not-front #region-sidebar-second .block{
    margin-bottom:2em;
}
/* typograhy */
h1{
    color:#666;
    font-size:40px;
    line-height:120%;
    margin-top:16px;
}
.views-field-title span,
h2{
    color:#666;
    font-size:24px;
    line-height:120%;
    font-weight:normal;
    letter-spacing: 1px;
}

/* block menu superior */
.visitorinfoid a,
input.form-submit,
.views-field-view-node a,
#block-menu-menu-menu-superior{
    background-color: #00B27A;
    border: 4px solid #E6E6E6;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    overflow:hidden;
    height: 11px;
    line-height: 11px;
    overflow: hidden;
    padding: 8px 22px;
    margin-top:9px;
}
#block-menu-menu-menu-superior li{
    border-left: 1px solid #FFFFFF;
    display: block;
    float: left;
    margin-left: 5px;
    padding-left: 5px;
}
#block-menu-menu-menu-superior li.first{
    border: 0 none;
    margin: 0;
    padding: 0;
}
.visitorinfoid a,
input.form-submit,
.views-field-view-node a,
#block-menu-menu-menu-superior li a{
    color:#fff;
}

.views-exposed-form .views-exposed-widget.views-submit-button{
    float:none;
    padding:0;
}
/*footer*/
#zone-footer{
    margin: 0;
    width: 100%;
}
#region-footer-first{
       background-color: #666666;
    color: #FFFFFF;
    display: block;
    float: none;
    margin: 0;
    padding: 20px 30px;
    width: auto;
}
#region-footer-first a{
    color:#fff;
}
/* second footer */
#region-footer-second{
    background-color: #00B27A;
    display: block;
    float: none;
    height: 50px;
    line-height: 50px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 16px;
    padding: 0 20px;
    width: auto;
    color:#80D9BD;
}
.region-sidebar-second h2{
    color:#2cc5d6;
    padding-bottom:8px;
}
#region-footer-second a{
    color:#80D9BD;
}

/* search */
#block-search-api-page-solr-search{
    width:100%;
    height:59px;
    background-color:#00B27A;
    position:relative;
}
#block-search-api-page-solr-search h2{
    display:none;
}
#block-search-api-page-solr-search .form-submit{
    background-repeat:no-repeat;
    background-image:url('../images/sprites.png');
    display:block;
    width:17px;
    height:17px;
    background-position:0 0;
    margin:0;
    padding:0;
    cursor:pointer;
    overflow:hidden;
    text-indent:-9999px;
    border: 0 none;
    text-shadow: none;
    position: absolute;
    right: 26px;
    top: 19px;
    background-color:transparent;
}
#block-search-api-page-solr-search .form-text{
    color:#999;
    font-size:11px;
    border: 1px solid #C1EFE2;
    height: 28px;
    line-height: 28px;
    padding: 0 12px;
    position: absolute;
    width: 214px;
      right: 17px;
    top: 14px;
}
#block-search-api-page-solr-search .form-item,
#block-search-api-page-solr-search .form-actions{
    margin:0;
}
/* header logos and menu */
.branding-data{
    width:100%;
    height:126px;
}
.logo-img a{
      display: block;
    height: 65px;
    position: relative;
    top: 28px;
    width: 250px;
}
/* home campaigns */
.view-campanyas{
    height: 205px;
    width: auto;
    padding:32px;
    border-left: 1px solid #E2E2E2;
    border-right: 1px solid #E2E2E2;
    background-color:#fff;
}
#region-sidebar-second .view-campanyas{
    border:0 none;
    height:auto;
    padding:0;
}
.view-campanyas h2{
    font-size:40px;
}
#region-sidebar-second .view-campanyas h2{
      color: #2CC5D6;
    font-size: 18px;
}
#region-sidebar-second .view-campanyas .views-row{
    margin-bottom:1em;
}
.view-campanyas .field-name-field-texto-campanya .field-item{
    font-size:16px;
    font-weight:bold;
    line-height:130%;
    color:#666;
}
#region-sidebar-second .view-campanyas .field-name-field-texto-campanya .field-item{
    font-size:12px;
    font-weight:normal;
}
.views-slideshow-controls-text-next a,
.views-slideshow-controls-text-previous a{
    background-repeat:no-repeat;
    background-image:url('../images/sprites.png');
    display:block;
    width:19px;
    height:23px;
    margin:0;
    padding:0;
    cursor:pointer;
    overflow:hidden;
    text-indent:-9999px;
    border: 0 none;
    text-shadow: none;
    float:left;
    z-index:10;
}
.views-slideshow-controls-text-next a{
    background-position: -58px -2px;
}
.views-slideshow-controls-text-previous a{
    background-position: -31px -2px;
    margin-right:20px;
}
.views-slideshow-controls-text-pause{
    display:none;
}
.views-slideshow-controls-text{
     bottom: 32px;
    left: 32px;
    position: absolute;
    z-index:10;
}
.views-slideshow-cycle-main-frame-row,
.views-slideshow-cycle-main-frame{
    width:914px !important;
}
.views-slideshow-cycle-main-frame-row .group-right{
    float:right;
    text-align:right;
}
/* layout corners */
.layout_corner{
    display:block;
    position:absolute;
    width:9px;
    height:13px;
    background-repeat:no-repeat;
    background-image:url('../images/sprites.png');
}
.top_right_layout_corner{
    background-position:-101px -1px;
    right:0px;
    bottom:-13px;
}
body.not-front .top_right_layout_corner{
    background-position:-208px -3px;
}
.top_left_layout_corner{
    background-position:-88px -1px;
    bottom:-13px;
    left:0px;
}
body.not-front .top_left_layout_corner{
    background-position: -196px -3px;
}
.bottom_right_layout_corner{
    background-position:-101px -15px;
    top:-13px;
    right:0px;
}
.bottom_left_layout_corner{
    background-position:-88px -15px;
    top:-13px;
    left:0px;
}
/* home tweaks */
body.front h1,
.site-name-slogan{
    display:none;
}
.home-apartados ul{
    list-style:none;
    padding:0;
    margin:0;
    overflow:hidden;
}
.home-apartados ul li{
    list-style:none;
    padding:0;
    margin:0;
    margin-left:12px;
    width:220px;
    height:210px;
    float:left;
}
.home-apartados ul li.views-row-first{
    margin-left:0;
}
.home-apartados .views-field-field-imagen-campanya{
    height: 120px;
    overflow: hidden;
    width: 220px;
    margin-bottom:12px;
    text-align:center;
}
.home-apartados .views-field-title{
    height:38px;
    line-height:38px;
}
.home-apartados .views-field-title span{
    color:#00B27A;
    font-size:16px;
    line-height:120%;
    font-weight:normal;
    width:100%;
    text-align:center;
    display:block;
}
.views-field-field-enlace-bloque a{
    display:block;
    width:23px;
    height:24px;
    margin:0 auto;
    cursor:pointer;
    text-indent:-9999px;
    background-image:url('../images/sprites.png');
    background-repeat:no-repeat;
    background-position:-147px -3px;
}
.views-field-field-enlace-bloque a:hover{
    background-position:-117px -3px;
}
#block-menu-menu-menu-inferior{
    border-top: 1px solid #939393;
    margin-top: 68px;
    padding-top: 26px;
}
#block-menu-menu-menu-inferior ul,
#block-menu-menu-menu-inferior ul li{
    margin:0;
    padding:0;
    list-style:none;
}
#block-menu-menu-menu-inferior ul li{
    background-image:url('../images/footer-menu-bullet.png');
    background-repeat:no-repeat;
    background-position:0 7px;
    padding-left:15px;
}
#footer_club,
#footer_logo{
    display:block;
    position:absolute;
    background-repeat:no-repeat;
    background-image:url('../images/sprites.png');
    overflow:hidden;
    z-index:10;
}
#footer_club{
    background-position:0 -81px;
    right:30px;
    top:15px;
    width:187px;
    height:41px;
    height:48px;
}
#footer_logo{
    background-position:0 -38px;
    left:30px;
    top:29px;
    width:168px;
    height:41px;
}
/* main menu */
#zone-menu-wrapper{
    left: 30px;
    position: absolute;
    top: 140px;
    z-index: 10;
    
    left:4px;
}
#zone-menu-wrapper li a{
    color:#fff;
    font-size:14px;
}
#zone-menu-wrapper li{
    display: block;
    float: left;
    margin: 0 0 0 16px;
    padding: 0;
    height:30px;
    line-height:30px;
    white-space:nowrap;
    padding:0 16px;
    border-radius:4px;
    -webkit-border-radius:4px;
    
    margin: 0;
    padding: 0 8px;
}
#zone-menu-wrapper li.first{
    margin:0;
}
#zone-menu-wrapper li.active,
#zone-menu-wrapper li:hover{
    background-color:#fff;
}
#zone-menu-wrapper li.active a,
#zone-menu-wrapper li:hover a{
    color:#666;
    background-repeat:no-repeat;
    background-image:url('../images/menu-active-arrow.png');
    background-position:center 30px;
    text-decoration:none;
    padding-bottom:6px;
    display:block;
}
#region-menu{
     display: block;
    float: none;
    margin: 0;
    width: auto;
}

/* breadcrumbs */
#breadcrumb{
    display: block;
    float: none;
    margin: 0;
    width: auto;
    overflow:hidden;
    border-bottom:1px solid #e0e0e0;
    padding-bottom:20px;
}
.breadcrumb{
    float:left;
    padding:0;
}
#breadcrumb_icon{
    background-image:url('../images/sprites.png');
    background-repeat:no-repeat;
    background-position:-177px -3px;
    width:16px;
    height:16px;
    float:left;
    margin-right:10px;
}
.view-header,
.view-filters{
    background-color: #666666;
    color: #FFFFFF;
    font-weight: bold;
    height: 44px;
    line-height: 44px;
    padding: 0 16px;
}
.especialidades .view-filters{
    background-color: #F9F9F9;
    color: #666666;
    height: auto;
    padding: 20px;
    line-height:12px;
}
.especialidades .view-filters .views-exposed-form label{
    padding-bottom:1em;
}
.view-content{
    clear:both;
}
.view-mapa-centros .view-header{
    float: left;
    padding-right: 0;
    width: 172px;
}
.view-mapa-centros .view-filters div,
.view-mapa-centros .view-filters label{
    float:left;
    margin:0;
    padding:0;
}
.view-mapa-centros .view-filters{
    padding-left:0;
    padding-right:0;
}
.view-mapa-centros .view-filters label{
    margin-right: 1.4em;
    margin-left: 1.4em;
}

.view-centros h3{
    border-bottom: 1px solid #E0E0E0;
    color: #666666;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 30px;
    padding-bottom:12px;
}
.view-centros .views-row{
    padding:30px 16px;
    overflow:hidden;
    width:45%;
}
.view-centros .views-row.views-row-odd{
    float:left;
    clear:both;
}
.view-centros .views-row.views-row-even{
    float:right;
}
.view-centros .views-row .views-field{
    margin: 0 0 0 115px;
}
.view-centros .views-row .views-field-field-imagenes-article{
    float: left;
    height: 76px;
    margin-right: 20px;
    overflow: hidden;
    width: 95px;
    margin-left:0;
}
.view-centros .views-row .views-field-field-zona a{
    color: #666666;
    display: block;
    padding-top: 0.5em;
}
.view-centros .views-row .views-field-title a{
    font-size:18px;
}
.views-field-view-node a{
    display:block;
    float:left;
}
.block-views-centros-block-4{
    border-bottom:1px solid #e0e0e0;
}

/* bloque pedir cita */
.block-pedir-cita{
    border: 1px solid #E0E0E0;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    padding: 8px;
}
.block-pedir-cita h2{
    font-size:16px;
    color:#666;
}
.block-informacion-visitante h2{
    padding-bottom:6px;
    background-repeat:no-repeat;
    background-image:url('../images/sprites.png');
    background-position:-220px -3px;
    padding-left:50px;
}
.pedircitacorreo,
.pedircitatelefono{
    border-radius: 6px;
    -webkit-border-radius: 6px;
    color: #FFFFFF;
    display: block;
    font-size: 13px;
    line-height: 28px;
    margin-bottom: 8px;
    padding: 8px 22px;
}
.pedircitacorreo a,
.pedircitatelefono a{
    color:#fff;
}
.pedircitacorreo{
    background-color: #00b27a;    
}
.pedircitatelefono{
    background-color: #2DC6D6;
}

/*detalle hospitales*/
.node-hospitales .group-left{
    overflow: hidden;
    padding-right: 16px;
    width: 220px; 
}
.node-hospitales .group-right{
    margin-bottom:2em;
}
.node-hospitales .group-footer{
    padding-top:2em;
}
.node-hospitales .group-left .locality{
    display:block;
    float:left;
}
.node-hospitales .group-left .state{
    display:block;
}
.node-hospitales .group-left .field{
    padding-left:46px;
}
.node-hospitales .group-left .field.field-name-field-imagenes-article{
    padding-left:0;
}
.node-hospitales .field-name-field-direccion{
    background-repeat:no-repeat;
    background-image:url('../images/sprites.png');
    background-position:-222px -54px;
    margin-top:16px;
}
/* tabs */
.quicktabs-wrapper{
    border: 1px solid #E0E0E0;
}
.quicktabs-wrapper ul.quicktabs-tabs{
    border-color: #E0E0E0;
    border-style: none none solid;
    border-width: 0 0 1px;
    height: 39px;
    line-height: 39px;
    padding: 0;
}
.quicktabs-wrapper ul.quicktabs-tabs li{
    border: 0 none;
    display: block;
    float: left;
    height: 39px;
    text-align:center;
    line-height: 39px;
    margin: 0;
    position: static;
    padding:0;
}
.quicktabs-wrapper ul.quicktabs-tabs li a{
    font-family:arial;
    font-size:12px;
    color:#00b27a;
    
    border: 0 none;
    display: block;
    height: 39px;
    text-align:center;
    line-height: 39px;
    margin: 0;
    padding: 0 62px;
    position: static;
    background-repeat:no-repeat;
    background-position:left top;
    background-image:url('../images/tabs_sep.png');
    
    height: 30px;
    padding-top: 9px;
}
.quicktabs-wrapper ul.quicktabs-tabs li.first{
    background-image:none;
}
.quicktabs-wrapper ul.quicktabs-tabs li.active{
    background-position:-3px -178px;
    background-repeat:no-repeat;
    background-image:url('../images/sprites.png');
    border:0 none;
    height: 78px;
    padding: 0;
    width: 183px;
    margin-top:-25px;
    position: relative;
    z-index: 10;
}
.quicktabs-wrapper ul.quicktabs-tabs li.active + li{
    margin-left:-1px;
}
.quicktabs-wrapper ul.quicktabs-tabs li.active a{
    font-family:arial;
    font-size:12px;
    color:#fff;
    font-weight:bold;
    padding:0;
    background-image:none;
    padding-top:32px;
}
.quicktabs-wrapper ul.quicktabs-tabs li:hover{
    border: 0 none;
}
.quicktabs-wrapper ul.quicktabs-tabs li a:hover{
    color:#00b27a;
}
.quicktabs-wrapper ul.quicktabs-tabs li.active a:hover{
    color:#fff;
}
.quicktabs_main.quicktabs-style-basic {
    border: 0 none;
    padding:32px 16px;
}

.quicktabs-wrapper .view-centros .views-row.views-row-odd {
    float: none;
    padding: 0;
    width: auto;
}
.quicktabs-wrapper .view-centros .views-row .views-field {
   margin: 0;
}
.quicktabs-wrapper .view-centros h3 {
    margin:0;
    padding:0;
    border:0 none;
    font-weight:bold;
    font-size:12px;
}
.field-name-otros-centros-zona{
    margin-top:0;
}
/* standard list */
.std-list .group-left {
    float: left;
    margin-right: 1em;
    width: 220px;
}
.std-list .group-right {
    float: none;
    width: 100%;
}
.view-filters .views-exposed-widgets div,
.view-filters label {
    float: left;
    margin: 0;
    padding: 0;
    clear:none;
}
.especialidades .view-filters .views-exposed-widgets div,
.especialidades .view-filters label {
    float:none;
}
.especialidades .view-filters label {
    margin:0;
    padding-top:1em;
}
.view-filters label {
    margin-left: 1.4em;
    margin-right: 1.4em;
}
.view-filters .views-exposed-widgets .tips,
.view-filters .views-exposed-widgets .description {
    color: #fff;
    display:inline;
    float:none;
    display:none;
}
.std-list .views-exposed-form .views-exposed-widget.views-submit-button {
    float: right;
}
.std-list .views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 7px;
}
.std-list .view-filters{
    margin-bottom:1em;
    margin-top:1em;
}
.std-list .views-row{
    border-bottom: 1px solid #E0E0E0;
    clear: both;
    margin-bottom: 1em;
    overflow: hidden;
    padding-bottom: 1em;
}
/* Pager */
.item-list .pager {
    background-color: transparent;
    border: 0 none;
    border-radius: 0;
    -webkit-border-radius: 0;
}
.item-list .pager li {
    background-image: none;
    background:none;
    display: block;
    float:left;
    padding: 0.5em;
    border:0 none;
    color:#00B27A;
    font-weight:normal;
    white-space:nowrap;
}
.pager li a,
.pager li a:hover {
    background-image: none;
    background:none;
    cursor: pointer;
    color:#00B27A;
    font-weight:normal;
    padding:0;
}
.pager li.pager-first a,
.pager li.pager-previous a,
.pager li.pager-next a,
.pager li.pager-last a {
    padding: 0;
    text-align: center;
    width: auto;
}
.pager li.pager-next {
    right: 58px;
}
.visitorinfoid a,
input.form-submit{
    background-color: #999999;
    background-image: none;
    color: #FFFFFF;
    display: block;
    float: right;
    font-size: 14px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    padding: 0 22px;
    text-shadow: none;
}
.visitorinfoid a:hover,
input.form-submit:hover{
    background-color:#666;
}
.visitorinfoid a{
    background-repeat:no-repeat;
    background-image:url('../images/more-info-gray.png');
    background-position: right center;
}
.views-field-field-zona .views-label{
    font-weight:bold;
}
body.node-type-cursos-y-eventos .node .field{
    margin-bottom:1em;
}
/*cv*/
body.page-node-add .block-system-main{
    background-color:#f9f9f9;
    padding:20px;
}
body.page-node-add .block-system-main form input[type=text],
body.page-node-add .block-system-main form select,
body.page-node-add .block-system-main form textarea{
    width:436px;
}
body.page-node-add .block-system-main form select.date-clear{
    width:auto;
}
body.page-node-add .block-system-main form label{
    padding-bottom:1em;
}
form .field-multiple-table th.field-label {
    padding-left: 24px;
    padding-top: 12px;
}
/*facetapi*/
.block-facetapi{
    background-color: #F9F9F9;
    margin-bottom: 1em;
    padding: 12px;
}
.block-facetapi h2{
    padding-bottom:0.4em;
}
.block-facetapi .content .item-list li{
    padding:0;
    margin:0;
    border:0 none;
    border-bottom:1px solid #e8e8e8;
    min-height:30px;
    line-height:30px;
}
.block-facetapi .content .item-list li.expanded{
    list-style:none;
}
/*.block-facetapi .content .item-list li a.facetapi-active{
    background-color: #999999;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    color: #FFFFFF;
    display: block;
    padding: 0 16px;
}*/
.block-facetapi .content .item-list li li.first,
.block-facetapi .content .item-list li li{
    padding:0.3em 0;
    margin:0 0 0 8px;
    border:0 none;
    height:auto;
    line-height:100%;
}
.block-facetapi li,
.views-field-field-zona li,
.field-type-text li,
.field-type-text-with-summary li{
    list-style:none;
}
.block-facetapi li li:before,
.views-field-field-zona li:before,
.field-type-text li:before,
.field-type-text-with-summary li:before{
    content: "-  ";
}