/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/* omega default overwritten */
body{
    background-color:#fff;
    font-family:arial;
    color:#333;
    font-size:12px;
    line-height:160%;
}
h1, h2, h3, h4, h5, h6 {
    font-family:arial;
}
p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
    margin-bottom: 0.5em;
}
ul li.leaf {
    list-style:none;
}
.field-type-taxonomy-term-reference ul,
ul.menu li {
    margin: 0;
    padding:0;
}
.field-type-taxonomy-term-reference{
    margin:1em 0;
}
.field-type-taxonomy-term-reference li,
.menu li {
    list-style: none outside none;
}
li.expanded, li.collapsed, li.leaf {
    margin: 0;
    padding: 0;
}
a,
a:link,
a:visited,
li a.active {
    color: #00B27A;
    text-decoration: none;
}
a:link:hover,
a:visited:hover,
li a.active:hover,
a:hover{
    text-decoration:underline;
}
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
        border: 1px solid #E0E0E0;
    color: #999999;
    font-size: 11px;
    min-height:28px;
}
.node-webform{
    background-color: #F9F9F9;
    padding: 20px;
}
.node-webform label{
    color:#666;
}
#messages{
    display: block;
    float: none;
    margin: 0;
    width: 100%;
}
#secondary-menu{
    display:none;
}
#block-system-powered-by{
    float:left;
}
#block-system-user-menu{
    float:right;
}
#block-system-user-menu h2{
    display:none;
}
#block-system-user-menu li{
    float:left;
}
#block-system-user-menu li.first{
    margin-right:1em;
}
.logo-img{
    margin-left:10px;
}
/* layout */
#zone-menu{
    width:742px;
}
#page{
    background-image:url('../images/body-bg.png');
    background-repeat:no-repeat;
    background-position:right top;
    width:1030px;
    margin:0 auto;
    position:relative;
    padding-top:454px;
}
body.not-front #page{
    padding-top:185px;
}
#section-header{
    width:980px;
    margin:0;
    height:454px;
    position:absolute;
    top:0;
    left:25px;
}
body.not-front #section-header{
    height:185px;
}
#section-content{
    margin:0 auto;
    background-color: #F9F9F9;
    border-color: #E5E5E5 #E0E0E0;
    border-left: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
    border-style: solid;
    border-width: 5px 1px;
    padding: 18px 15px;
    width: 930px;
    position:relative;
}
body.not-front #section-content{
    background-color:#fff;
}
#section-footer{
    width:980px;
    margin:0 auto;
    position:relative;
}
#region-branding,
#zone-branding,
#zone-user{
    width:100%;
    margin:0;
}
#zone-user-wrapper{
     position: absolute;
    right: 0;
    top: 0;
    z-index:10;
}
#region-user-second{
    width:auto;
    float:right;
}
#zone-content{
    width:100%;
    margin:0;
}
#region-content{
     display: block;
    float: none;
    margin: 0;
    width: 100%;
}
body.one-sidebar #region-content{
    float:left;
    width:690px;
}
body.two-sidebars #region-content{
    float:left;
    width:450px;
}
#region-sidebar-first,
#region-sidebar-second{
    border: 0 none;
    display: block;
    float: right;
    margin: 60px 0 0 20px;
    padding: 0;
    width: 220px;
}
#region-sidebar-first{
    float: left;
    margin-left: 0;
    margin-right: 20px;
    margin-top: 20px;
}
#region-sidebar-second .block{
    margin-bottom:2em;
}
/* typograhy */
h1{
    color:#666;
    font-size:30px;
    line-height:120%;
    margin-top:16px;
    font-weight:normal;
}
.views-field-title span,
h2,
h2.block-title{
    color:#666;
    font-size:24px;
    line-height:120%;
    font-weight:normal;
    letter-spacing: 1px;
}
.views-field-title span,
h2,
h2.block-title{
    font-size:22px;
    letter-spacing:0;
}
body.front h2.block-title{
    color:#9d8c84;
    margin-bottom:14px;
}
h2.grouping-title{
    font-size:12px;
    letter-spacing:0;
}
.view-filters select{
    min-height:24px;
}
/*.view-profesionales h2.grouping-title{
    border-bottom:1px solid #e0e0e0;
}*/
/* block menu superior */
#block-nodeblock-1166 .field-name-field-enlace-bloque a,
#block-nodeblock-1164 .field-name-field-enlace-bloque a,
.inscripcion_oferta a,
.more-link a,
.visitorinfoid a,
input.form-submit,
.views-field-view-node a,
#block-menu-menu-menu-superior{
    background-color: #00B27A;
    border: 4px solid #E6E6E6;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    overflow:hidden;
    height: 11px;
    line-height: 11px;
    overflow: hidden;
    padding: 8px 22px;
    margin-top:9px;
}
#block-menu-menu-menu-superior li{
    border-left: 1px solid #FFFFFF;
    display: block;
    float: left;
    margin-left: 5px;
    padding-left: 5px;
}
#block-menu-menu-menu-superior li.first{
    border: 0 none;
    margin: 0;
    padding: 0;
}
#block-nodeblock-1166 .field-name-field-enlace-bloque a,
#block-nodeblock-1164 .field-name-field-enlace-bloque a,
.more-link a,
.visitorinfoid a,
input.form-submit,
.views-field-view-node a,
#block-menu-menu-menu-superior li a{
    color:#fff;
}

.views-exposed-form .views-exposed-widget.views-submit-button{
    float:none;
    padding:0;
}
/*footer*/
#zone-footer{
    margin: 0;
    width: 100%;
}
#region-footer-first{
       background-color: #666666;
    color: #FFFFFF;
    display: block;
    float: none;
    margin: 0;
    padding: 20px 30px;
    width: auto;
}
#region-footer-first a{
    color:#fff;
}
/* second footer */
#region-footer-second{
    background-color: #00B27A;
    display: block;
    float: none;
    height: 50px;
    line-height: 50px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 16px;
    padding: 0 20px;
    width: auto;
    color:#80D9BD;
}
.region-sidebar-second h2{
    color:#2cc5d6;
    padding-bottom:8px;
    font-size:18px;
}
#region-footer-second a{
    color:#80D9BD;
}

/* search */
#block-search-api-page-solr-search{
    width:100%;
    height:59px;
    background-color:#00B27A;
    position:relative;
}
#block-search-api-page-solr-search h2{
    display:none;
}
.quicktabs-tabpage #edit-submit-profesionales-node-index,
#edit-submit-especialidades-node-index,
#block-search-api-page-solr-search .form-submit{
    background-repeat:no-repeat;
    background-image:url('../images/sprites.png');
    display:block;
    width:17px;
    height:17px;
    background-position:0 0;
    margin:0;
    padding:0;
    cursor:pointer;
    overflow:hidden;
    text-indent:-9999px;
    border: 0 none;
    text-shadow: none;
    position: absolute;
    right: 10px;
    top: 7px;
    background-color:transparent;
}
#block-search-api-page-solr-search .form-submit{
    top:19px;
    right:26px;
}
.quicktabs-tabpage #edit-search-api-views-fulltext{
    min-width:232px;
    width:auto;
    float:right;
}
.quicktabs-tabpage .views-exposed-form{
    position:relative;
}
.quicktabs-tabpage .views-exposed-form .form-submit{
       
}
#block-search-api-page-solr-search .form-text{
    color:#999;
    font-size:11px;
    border: 1px solid #C1EFE2;
    height: 28px;
    line-height: 28px;
    padding: 0 12px;
    position: absolute;
    width: 214px;
      right: 17px;
    top: 14px;
}
#block-search-api-page-solr-search .form-item,
#block-search-api-page-solr-search .form-actions{
    margin:0;
}
/* header logos and menu */
.branding-data{
    width:100%;
    height:126px;
}
.logo-img a{
      display: block;
    height: 65px;
    position: relative;
    top: 28px;
    width: 250px;
}
/* home campaigns */
.view-campanyas{
    height: 205px;
    width: auto;
    padding:32px;
    border-left: 1px solid #E2E2E2;
    border-right: 1px solid #E2E2E2;
    background-color:#fff;
}
#region-sidebar-second .view-campanyas{
    border:0 none;
    height:auto;
    padding:0;
}
.view-campanyas h2{
    font-size:40px;
}
#region-sidebar-second .view-campanyas h2 a,
#region-sidebar-second .view-campanyas h2{
      color: #2CC5D6;
    font-size: 18px;
    margin-bottom:0;
}
#region-sidebar-second .view-campanyas .views-row{
    margin-bottom:1em;
}
body.front .view-especialidades-y-unidades .views-field-title a,
body.front .view-noticias h2{
    font-size:14px;
    font-weight:bold;
    color:#666;
    line-height:20px;
}
body.front .view-noticias h2 a{
    color:#666;
}
body.front .view-especialidades-y-unidades .views-field-field-imagen-campanya{
    float: left;
    margin-right: 1em;
    overflow: hidden;
    width: 100px; 
}
.slideshow-nav{
    height: 15px;
    margin-top: -27px;
    text-align: center;
}
.slideshow-nav a{
    background-color: #FFFFFF;
    border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    cursor: pointer;
    display: inline-block;
    height: 9px;
    margin-left: 6px;
    text-indent: -9999px;
    width: 9px;
    border:4px solid #fff;
}
.slideshow-nav a.activeSlide{
    background-color: #999999;
}
#region-branding .slideshow-nav a.activeSlide{
    background-color:#00B27A;
}
#region-branding .slideshow-nav a{
    background-color:#e6e6e6;
    border-color:#e6e6e6;
    position:relative;
    z-index:100;
}
body.front .view-especialidades-y-unidades .views-slideshow-cycle-main-frame-row{
    width:310px;
}
body.front .view-especialidades-y-unidades .views-slideshow-cycle-main-frame-row .views-field-field-imagenes-article{
       float: left;
    margin-right: 1em;
    width: 100px; 
}
.green_banner{
       background-color: #4CC9A2;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-bottom: 1em;
    padding: 11px 11px 11px 57px;
    position: relative;
}
.green_banner .block_icon{
    background-image:url('../images/sprites.png');
    background-repeat:no-repeat;
    width:33px;
    height:30px;
        left: 10px;
    position: absolute;
    top: 14px;
}
.green_banner.calendario-recomendaciones .block_icon{
    background-position: -360px -3px;
}
.green_banner.hospiten-vanguardia .block_icon{
    background-position: -317px -3px;    
}
.green_banner_title{
    color:#fff;
    font-weight:bold;
    font-size:14px;
}
.green_banner_subtitle{
    color:#99e0ca;
}
#region-postscript-first .region-inner .block,
#region-postscript-second .region-inner .block,
body.front .view-noticias .views-row{
    border-top: 2px solid #EBEBEB;
    margin-top: 24px;
    padding-top: 24px;
}
#region-postscript-first .region-inner .block:first-child,
#region-postscript-second .region-inner .block:first-child,
body.front .view-noticias .views-row:first-child{
    border:0 none;
    margin-top: 0;
    padding-top: 0;
}
body.front .view-noticias .field-name-field-imagenes-article{
        float: left;
    height: 86px;
    margin-right: 1em;
    overflow: hidden;
    width: 130px;
}

.view-campanyas .field-name-field-texto-campanya .field-item{
    font-size:16px;
    font-weight:bold;
    line-height:130%;
    color:#666;
}
#region-sidebar-second .view-campanyas .field-name-field-texto-campanya .field-item{
    font-size:12px;
    font-weight:normal;
}
.views-slideshow-controls-text-next a,
.views-slideshow-controls-text-previous a{
    background-repeat:no-repeat;
    background-image:url('../images/sprites.png');
    display:block;
    margin:0;
    padding:0;
    cursor:pointer;
    overflow:hidden;
    text-indent:-9999px;
    border: 0 none;
    text-shadow: none;
    z-index:10;
    float:left
}
.views-slideshow-controls-text-next a{
    float:right;
}
#region-branding .views-slideshow-controls-text-next a,
#region-branding .views-slideshow-controls-text-previous a{
    width:19px;
    height:23px;
}
#region-branding .views-slideshow-controls-text-next a{
    background-position: -58px -2px;
}
#region-branding .views-slideshow-controls-text-previous a{
    background-position: -31px -2px;
    margin-right:20px;
}
.views-slideshow-controls-text-pause{
    display:none;
}
#region-branding .views-slideshow-controls-text{
     bottom: 32px;
    left: 32px;
    position: absolute;
    z-index:10;
     background-color: transparent;
    border: 0 none;
    width:120px;
}
#region-branding .views-slideshow-cycle-main-frame-row,
#region-branding .views-slideshow-cycle-main-frame{
    width:914px !important;
}
#region-branding .views-slideshow-cycle-main-frame-row .group-right{
    float:right;
    text-align:right;
}
#region-branding #slideshow-nav-banner{
      bottom: 40px;
    left: 64px;
    margin: 0;
    position: absolute; 
}
.views-slideshow-controls-text{
    position:static;
    border: 4px solid #E6E6E6;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    overflow:hidden;
    overflow: hidden;
    
    background-color: #999999;
    background-image: none;
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    padding: 0;
    text-shadow: none;
}
.views-slideshow-controls-text-previous a{
    width:19px;
    height:18px;
    margin:5px 0 0 5px;
}
.views-slideshow-controls-text-next a{
    width:19px;
    height:18px;
    margin:5px 5px 0 0;
}
.views-slideshow-controls-text-next a{
    background-position:-197px -20px;
}
.views-slideshow-controls-text-previous a{
    background-position:-197px -60px;
}
/* layout corners */
.layout_corner{
    display:block;
    position:absolute;
    width:9px;
    height:13px;
    background-repeat:no-repeat;
    background-image:url('../images/sprites.png');
}
.top_right_layout_corner{
    background-position:-101px -1px;
    right:0px;
    bottom:-13px;
}
body.not-front .top_right_layout_corner{
    background-position:-208px -3px;
}
.top_left_layout_corner{
    background-position:-88px -1px;
    bottom:-13px;
    left:0px;
}
body.not-front .top_left_layout_corner{
    background-position: -196px -3px;
}
.bottom_right_layout_corner{
    background-position:-101px -15px;
    top:-13px;
    right:0px;
}
.bottom_left_layout_corner{
    background-position:-88px -15px;
    top:-13px;
    left:0px;
}
/* home tweaks */
body.front h1,
.site-name-slogan{
    display:none;
}
.home-apartados ul{
    list-style:none;
    padding:0;
    margin:0;
    overflow:hidden;
}
.home-apartados ul li{
    list-style:none;
    padding:0;
    margin:0;
    margin-left:12px;
    width:220px;
    height:210px;
    float:left;
    
    overflow:hidden;
    margin-bottom:12px;
}
.home-apartados ul li.views-row-first{
    margin-left:0;
}
.home-apartados .views-field-field-imagen-campanya{
    height: 120px;
    overflow: hidden;
    width: 220px;
    margin-bottom:12px;
    text-align:center;
}
.home-apartados .views-field-title{
    height:38px;
    line-height:38px;
}
.home-apartados .views-field-title span{
    color:#00B27A;
    font-size:16px;
    line-height:120%;
    font-weight:normal;
    width:100%;
    text-align:center;
    display:block;
}
.views-field-field-enlace-bloque a{
    display:block;
    width:23px;
    height:24px;
    margin:0 auto;
    cursor:pointer;
    text-indent:-9999px;
    background-image:url('../images/sprites.png');
    background-repeat:no-repeat;
    background-position:-147px -3px;
}
.views-field-field-enlace-bloque a:hover{
    background-position:-118px -3px;
}
.region-footer-first-inner{
    border-top: 1px solid #939393;
    margin-top: 68px;
    padding-top: 26px;
    overflow:hidden;
}

#block-menu-menu-menu-inferior{
  float: left;
    padding-left: 10px;
    padding-right: 20px;
    width: 220px;
}
.region-footer-first-inner #block-views-centros-block-6{
    float:right;
    width:668px;
}
.region-footer-first-inner #block-views-centros-block-6 li{
    height:64px;
}
.region-footer-first-inner #block-views-centros-block-6 .views-row .views-field {
    margin: 0;
}
.region-footer-first-inner #block-views-centros-block-6 .views-row .views-field-title span,
.region-footer-first-inner #block-views-centros-block-6 .views-row .views-field-title span a{
    font-size:12px;
}
.region-footer-first-inner #block-views-centros-block-6 .views-row .views-field-title span a{
    color:#999;
}
#block-menu-menu-menu-menu-pie{
    float:right;
}
#block-menu-menu-menu-menu-pie h2{
    display:none;
}
#block-menu-menu-menu-menu-pie ul li{
    float:left;
}
#block-menu-menu-menu-menu-pie ul li a{
       border-left: 1px solid #80D9BD;
    margin-left: 1em;
    padding-left: 1em;
}
#block-menu-menu-menu-menu-pie ul li.first a{
    padding:0;
    margin:0;
    border:0 none;
}
#region-footer-first ul,
#region-footer-first ul li{
    margin:0;
    padding:0;
    list-style:none;
}
#region-footer-first ul li{
    background-image:url('../images/footer-menu-bullet.png');
    background-repeat:no-repeat;
    background-position:0 7px;
    padding-left:15px;
    border:0 none;
    height:auto;
}
#region-footer-first h2.block-title{
        color: #CCCCCC;
    font-size: 16px;
    margin-bottom:14px;
}
#footer_club,
#footer_logo{
    display:block;
    position:absolute;
    background-repeat:no-repeat;
    background-image:url('../images/sprites.png');
    overflow:hidden;
    z-index:10;
}
#footer_club{
    background-position:0 -81px;
    right:30px;
    top:15px;
    width:187px;
    height:41px;
    height:48px;
}
#footer_logo{
    background-position:0 -38px;
    left:30px;
    top:29px;
    width:168px;
    height:41px;
}
/* main menu */
#zone-menu-wrapper{
    left: 30px;
    position: absolute;
    top: 140px;
    z-index: 10;
    
    left:4px;
}
#zone-menu-wrapper li a{
    color:#fff;
    font-size:14px;
}
#zone-menu-wrapper li{
    display: block;
    float: left;
    margin: 0 0 0 16px;
    padding: 0;
    height:30px;
    line-height:30px;
    white-space:nowrap;
    padding:0 16px;
    border-radius:4px;
    -webkit-border-radius:4px;
    
    margin: 0 8px;
    padding: 0 8px;
}
#zone-menu-wrapper li.first{
    margin:0;
}
#zone-menu-wrapper li.active,
#zone-menu-wrapper li:hover{
    background-color:#fff;
}
#zone-menu-wrapper li.active a,
#zone-menu-wrapper li:hover a{
    color:#666;
    background-repeat:no-repeat;
    background-image:url('../images/menu-active-arrow.png');
    background-position:center 30px;
    text-decoration:none;
    padding-bottom:6px;
    display:block;
}
#region-menu{
     display: block;
    float: none;
    margin: 0;
    width: auto;
}

/* breadcrumbs */
#breadcrumb{
    display: block;
    float: none;
    margin: 0;
    width: auto;
    overflow:hidden;
    border-bottom:1px solid #e0e0e0;
    padding-bottom:20px;
}
.breadcrumb{
    float:left;
    padding:0;
}
#breadcrumb_icon{
    background-image:url('../images/sprites.png');
    background-repeat:no-repeat;
    background-position:-177px -3px;
    width:16px;
    height:16px;
    float:left;
    margin-right:10px;
}
.view-header,
.view-filters{
    background-color: #666666;
    color: #FFFFFF;
    font-weight: bold;
    height: 44px;
    line-height: 44px;
    padding: 0 16px;
}
.especialidades .view-filters{
    background-color: #F9F9F9;
    color: #666666;
    height: auto;
    padding: 20px;
    line-height:12px;
}
.especialidades .view-filters .views-exposed-form label{
    padding-bottom:1em;
}
.view-content{
    clear:both;
}
.view-mapa-centros .view-header{
    float: left;
    padding-right: 0;
    width: 172px;
}
.view-mapa-centros .view-filters div,
.view-mapa-centros .view-filters label{
    float:left;
    margin:0;
    padding:0;
}
.view-mapa-centros .view-filters{
    padding-left:0;
    padding-right:0;
}
.view-mapa-centros .view-filters label{
    margin-right: 1.4em;
    margin-left: 1.4em;
}

.view-centros h3{
    border-bottom: 1px solid #E0E0E0;
    color: #666666;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 30px;
    padding-bottom:12px;
}
.view-centros .views-row{
    padding:30px 16px;
    overflow:hidden;
    width:45%;
    
    
    border-bottom:1px solid #E0E0E0;
}
.view-centros .views-row.views-row-odd{
    float:left;
    clear:both;
}
.view-centros .views-row.views-row-even{
    float:right;
}
.view-centros .views-row .views-field{
    margin: 0 0 0 115px;
}
.view-centros .views-row .views-field-field-imagenes-article{
    float: left;
    height: 76px;
    margin-right: 20px;
    overflow: hidden;
    width: 95px;
    margin-left:0;
}
.view-centros .views-row .views-field-field-zona a{
    color: #666666;
    /*display: block;*/
    padding-top: 0.5em;
}
.view-centros .views-row .views-field-title a{
    font-size:18px;
}
.views-field-view-node a{
    display:block;
    float:left;
}
.block-views-centros-block-4{
    border-bottom:1px solid #e0e0e0;
}

/* bloque pedir cita */
.group-cita-previa{
    width:176px;
}
.group-cita-previa,
.block-pedir-cita{
    border: 1px solid #E0E0E0;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    padding: 8px;
}
.group-cita-previa legend span,
.block-pedir-cita h2{
    font-size:16px;
    color:#666;
}
.block-informacion-visitante{
    position:relative;
}
.block-informacion-visitante h2{
    padding-bottom:6px;
    padding-left:40px;
    color: #82817B;
    font-size: 18px;
}
.visitorinfoimage{
        background-repeat:no-repeat;
    background-image:url('../images/sprites.png');
    background-position:-269px -3px;
    width:41px;
    height:36px;
       left: 0;
    position: absolute;
    top: 5px;
}
.group-cita-previa .field,
.pedircitacorreo,
.pedircitatelefono{
    border-radius: 6px;
    -webkit-border-radius: 6px;
    color: #FFFFFF;
    display: block;
    font-size: 13px;
    line-height: 28px;
    margin-bottom: 8px;
    padding: 4px 22px;
    white-space:nowrap;
}
.group-cita-previa .field a,
.pedircitacorreo a,
.pedircitatelefono a{
    color:#fff;
}
.group-cita-previa .field-type-ds,
.pedircitacorreo{
    background-color: #00b27a;    
}
.group-cita-previa .field-name-field-telefono,
.pedircitatelefono{
    background-color: #2DC6D6;
}

.view-id-mapa_centros.view-display-id-block_2 ul{
    margin:0;
    padding:0;
}
.node-type-especialidades .block-views-profesionales-block-3 .views-row,
.view-id-mapa_centros.view-display-id-block_2 li.views-row{
    border:1px solid #e0e0e0;
    margin-top:48px;
    padding:16px;
    margin-left:0;
}
.node-type-especialidades .block-views-profesionales-block-3 .views-row .group-left h2,
.view-id-mapa_centros.view-display-id-block_2 li.views-row .group-left h2{
    white-space:nowrap;
    font-size:18px;
    border:0 none;
    margin:0;
}
.node-type-especialidades .block-views-profesionales-block-3 .views-row .field-type-taxonomy-term-reference,
.view-id-mapa_centros.view-display-id-block_2 li.views-row .group-left .field-type-taxonomy-term-reference,
.view-id-mapa_centros.view-display-id-block_2 li.views-row .group-left ul,
.view-id-mapa_centros.view-display-id-block_2 li.views-row .group-left ul li{
    margin:0;
}
.node-type-especialidades .block-views-profesionales-block-3 .views-row .field-type-taxonomy-term-reference a,
.view-id-mapa_centros.view-display-id-block_2 li.views-row .group-left .field-type-taxonomy-term-reference a{
    color:#333;
}
.node-type-especialidades .block-views-profesionales-block-3 .views-row .group-right,
.view-id-mapa_centros.view-display-id-block_2 li.views-row .group-right{
    background-color: #FFFFFF;
    margin-right: 18px;
    margin-top: -48px;
    width: auto;
    float:right;
}
.node-type-especialidades .block-views-profesionales-block-3 .views-row .node-profesionales{
    position:relative;
    height:56px;
    border-top: 1px solid #E0E0E0;
    padding-top: 20px;
}
.node-type-especialidades .block-views-profesionales-block-3 .views-row .node-profesionales:first-child{
    border:0 none;
    padding:0;
}
.node-type-especialidades .block-views-profesionales-block-3 .views-row .node-profesionales .group-left{
    margin-left: 80px;
    margin-right: 0;
    width: auto;
}
.node-type-especialidades .block-views-profesionales-block-3 .views-row .node-profesionales .group-left h2 a{
    color:#666;
    font-size:16px;
}
.node-type-especialidades .block-views-profesionales-block-3 .views-row .node-profesionales .group-left .field-name-field-especialidades a{
    color:#333;
    font-size:12px;
}
.node-type-especialidades .block-views-profesionales-block-3 .views-row .node-profesionales .group-right{
    width:56px;
    height:56px;
    float: none;
    left: 0;
    margin: 0;
    position: absolute;
    top: 20px;
    overflow:hidden;
}
.node-type-especialidades .block-views-profesionales-block-3 .views-row .node-profesionales:first-child .group-right{
    top:0;
}
.node-type-especialidades .block-main h3,
.node-profesionales .field-name-field-otros-datos-profesional .field-label,
.node-profesionales .field-name-field-publicaciones-profesional .field-label,
.node-profesionales .field-name-field-lugar-est-profesional .field-label,
.field-name-bloque-centros-relacionados h2{
    border-bottom: 1px solid #E0E0E0;
    font-size: 24px;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
}
.field-name-bloque-centros-relacionados h2.block-title{
    padding-top:1em;
}
.node-type-espcialidades .block-main h3,
.node-profesionales .field-name-field-otros-datos-profesional .field-label,
.node-profesionales .field-name-field-publicaciones-profesional .field-label,
.node-profesionales .field-name-field-lugar-est-profesional .field-label{
    margin-top:1em;
    color:#666;
    font-weight:normal;
}
.node-profesionales .group-left{
    margin-right: 1em;
    width: 218px;
}
.view-nuestros-profesionales .node-profesionales .group-left{
    margin-right: 20px;
    width: 80px;
}
.view-nuestros-profesionales .node-profesionales .group-left .field-name-field-imagen-profesional{
       height: 80px;
    overflow: hidden;
    width: 80px;
}
.node-profesionales .group-right{
    float: none;
    width: 100%;
}
.view-nuestros-profesionales .node-profesionales .group-right{
    float:left;
    width:348px;
}
.view-nuestros-profesionales .node-profesionales .field-name-apellidos-nombre-profesional a{
    font-size:16px;
    color:#666;
}
.view-nuestros-profesionales .node-profesionales .field-name-field-especialidades a{
    color:#00D5C7;
}
.view-nuestros-profesionales .node-profesionales .field-name-field-centro a{
    color:#00c5b2;
}
.field-name-bloque-centros-relacionados .attachment{
    margin-top: 2em;
}
/*detalle hospitales*/
body.node-type-hospitales .node-hospitales .group-left{
    overflow: hidden;
    padding-right: 16px;
    width: 220px; 
}
body.node-type-hospitales .node-hospitales .group-right{
    margin-bottom:2em;
    width:454px;
}
body.node-type-hospitales .node-hospitales .group-footer{
    padding-top:2em;
}
body.node-type-hospitales .node-hospitales .group-left .locality{
    display:block;
    float:left;
}
body.node-type-hospitales .node-hospitales .group-left .state{
    display:block;
}
body.node-type-hospitales .node-hospitales .group-left .field{
    padding-left:46px;
}
body.node-type-hospitales .node-hospitales .group-left .field.field-name-field-imagenes-article{
    padding-left:0;
}
body.node-type-hospitales .node-hospitales .field-name-field-direccion{
    background-repeat:no-repeat;
    background-image:url('../images/sprites.png');
    background-position:-269px -3px;
    margin-top:16px;
}
body.node-type-hospitales .node-hospitales .field-name-field-direccion .field-item{
    background-color:#fff;
}
/* tabs */
.quicktabs-wrapper{
    border: 1px solid #E0E0E0;
}
.quicktabs-wrapper ul.quicktabs-tabs{
    border-color: #E0E0E0;
    border-style: none none solid;
    border-width: 0 0 1px;
    height: 39px;
    line-height: 39px;
    padding: 0;
}
.quicktabs-wrapper ul.quicktabs-tabs li{
    border: 0 none;
    display: block;
    float: left;
    height: 39px;
    text-align:center;
    line-height: 39px;
    margin: 0;
    position: static;
    padding:0;
    
        padding: 0 20px; 
    width: 143px; /* good for 3 tabs */
    width: 72px; /* good for 5 tabs */
}
.quicktabs-wrapper ul.quicktabs-tabs li a{
    font-family:arial !important;
    font-size:12px !important;
    color:#00b27a !important;
    font-weight: normal !important;
    
    border: 0 none;
    display: block;
    height: 39px;
    text-align:center;
    line-height: 39px;
    margin: 0;
    padding: 0;
    position: static;
    background-repeat:no-repeat;
    background-position:left top;
    background-image:url('../images/tabs_sep.png');
    padding-left:32px;
    
    height: 30px;
    white-space:normal;
    padding-top: 2px;
}
.quicktabs-wrapper ul.quicktabs-tabs li.active + li a,
.quicktabs-wrapper ul.quicktabs-tabs li.first a{
    background-image:none;
    padding:0;
}
.quicktabs-wrapper ul.quicktabs-tabs li.active{
    background-position:-3px -178px;
    background-repeat:no-repeat;
    background-image:url('../images/sprites.png');
    border:0 none;
    height: 78px;
    padding: 0 20px; 
    width: 143px !important;
    margin-top:-25px;
    position: relative;
    z-index: 10;
}

.quicktabs-wrapper ul.quicktabs-tabs li.active + li{
    margin-left:-1px;
}
.quicktabs-wrapper ul.quicktabs-tabs li.active a{
    font-family:arial;
    font-size:12px;
    color:#fff !important;
    font-weight:bold !important;
    padding:0;
    background-image:none;
    padding-top:25px;
    margin-left:-8px;
}
.quicktabs-wrapper ul.quicktabs-tabs li:hover{
    border: 0 none;
}
.quicktabs-wrapper ul.quicktabs-tabs li a:hover{
    color:#00b27a;
}
.quicktabs-wrapper ul.quicktabs-tabs li.active a:hover{
    color:#fff;
}
.quicktabs_main.quicktabs-style-basic {
    border: 0 none;
    padding:32px 16px;
}

.quicktabs-wrapper .view-centros .views-row.views-row-odd {
    float: none;
    padding: 0;
    width: auto;
    height:auto;
}
.quicktabs-wrapper .view-centros .views-row .views-field {
   margin: 0;
}
.quicktabs-wrapper .view-centros h3 {
    margin:0;
    padding:0;
    border:0 none;
    font-weight:bold;
    font-size:12px;
}
.field-name-otros-centros-zona{
    margin-top:1em;
}
/* standard list */
.std-list .group-left {
    float: left;
    margin-right: 1em;
    width: 220px;
}
.std-list .group-right {
    float: none;
    width: 100%;
}
.quicktabs-tabpage .view-profesionales-node-index .item-list li,
.quicktabs-tabpage #block-views-especialidades-node-index-block .item-list li{
    float:left;
    width:302px;
}
.view-filters .views-exposed-widgets div,
.view-filters label {
    float: left;
    margin: 0;
    padding: 0;
    clear:none;
}
.especialidades .view-filters .views-exposed-widgets div,
.especialidades .view-filters label {
    float:none;
}
.especialidades .view-filters label {
    margin:0;
    padding-top:1em;
}
.view-filters label {
    margin-left: 1.4em;
    margin-right: 1.4em;
}
.view-filters .views-exposed-widgets .tips,
.view-filters .views-exposed-widgets .description {
    color: #fff;
    display:inline;
    float:none;
    display:none;
}
.std-list .views-exposed-form .views-exposed-widget.views-submit-button {
    float: right;
}
.std-list .views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 7px;
}
.std-list .view-filters{
    margin-bottom:1em;
    margin-top:1em;
}
.std-list .views-row{
    border-bottom: 1px solid #E0E0E0;
    clear: both;
    margin-bottom: 1em;
    overflow: hidden;
    padding-bottom: 1em;
}
/* Pager */
.item-list .pager {
    background-color: transparent;
    border: 0 none;
    border-radius: 0;
    -webkit-border-radius: 0;
        display: block;
    margin: 0 auto;
    text-align: center;
    width: 60%;
    position:relative;
}
.item-list .pager li {
    background-image: none;
    background:none;
    display: inline-block;
    float:none;
    padding: 0.5em;
    border:0 none;
    color:#00B27A;
    font-weight:normal;
    white-space:nowrap;
}
.pager li.pager-first,
.pager li.pager-previous{
    display:block;
    position:absolute;
    left:0;
}
.pager li.pager-previous{
    left:66px;
}
.pager li a,
.pager li a:hover {
    background-image: none;
    background:none;
    cursor: pointer;
    color:#00B27A;
    font-weight:normal;
    padding:0;
}
.pager li.pager-first a,
.pager li.pager-previous a,
.pager li.pager-next a,
.pager li.pager-last a {
    padding: 0;
    text-align: center;
    width: auto;
}
.pager li.pager-next {
    right: 58px;
}
#block-nodeblock-1166 .field-name-field-enlace-bloque a,
#block-nodeblock-1164 .field-name-field-enlace-bloque a,
.inscripcion_oferta a,
.more-link a,
.visitorinfoid a,
input.form-submit{
    background-color: #999999;
    background-image: none;
    color: #FFFFFF;
    display: block;
    float: right;
    font-size: 14px;
    font-weight: normal;
    height: 30px;
    padding: 0 22px;
    text-shadow: none;
    white-space:nowrap;
}
#block-nodeblock-1166 .field-name-field-enlace-bloque a:hover,
#block-nodeblock-1164 .field-name-field-enlace-bloque a:hover,
.inscripcion_oferta a:hover,
.more-link a:hover,
.visitorinfoid a:hover,
input.form-submit:hover{
    background-color:#666;
}
#block-nodeblock-1166 .field-name-field-enlace-bloque a,
#block-nodeblock-1164 .field-name-field-enlace-bloque a,
.inscripcion_oferta a,
.more-link a,
.visitorinfoid a{
    background-repeat:no-repeat;
    background-image:url('../images/more-info-gray.png');
    background-position: right center;
    line-height:30px;
}
#block-nodeblock-1166 .field-name-field-enlace-bloque a,
#block-nodeblock-1164 .field-name-field-enlace-bloque a,
.inscripcion_oferta a,
.more-link a{
    float: none;
    text-align: left;
    width: auto;
    line-height:30px;
}
.inscripcion_oferta a{
    padding-right:44px;
    float:right;
}
#quicktabs-informacion_adicional{
    margin-top:36px;
}
body.page-node-informacion-visitante .view .attachment{
    overflow:hidden;
}
body.page-node-informacion-visitante .view .attachment h2{
      border-bottom: 2px solid #EBEBEB;
    margin-top: 1em;
    padding-bottom: 0.4em;
}
body.page-node-informacion-visitante .view .attachment .views-row{
    float:left;
    width:47%;
    height:188px;
}
body.page-node-informacion-visitante .view .attachment .views-row-odd{
    clear:both;
    margin-right:4em;
}
.views-field-field-info-visitante-centro .field-content li{
        list-style-position: inside;
    padding: 1em 0;
}
#block-nodeblock-1164 .field-name-field-enlace-bloque a,
.more-link-blue a{
    background-color:#2dc6d6;
    background-image:url('../images/more-info-blue.png');
}
.more-link-green a{
    background-color:#00b27a;
    background-image:url('../images/more-info-green.png');
}
.views-field-field-zona .views-label{
    font-weight:bold;
}
#zone-postscript .block{
    margin-bottom:1em;
}
#block-nodeblock-1165{
    padding-top:1em;
}
body.node-type-cursos-y-eventos .node .field{
    margin-bottom:1em;
}
#zone-postscript{
    width:100%;
}
#region-postscript-first,
#region-postscript-second{
    width:314px;
}
#region-postscript-third{
     float: right;
    margin-right: 0;
    width: 220px;
}
/*cv*/
body.page-node-add .block-system-main{
    background-color:#f9f9f9;
    padding:20px;
}
body.page-node-add .block-system-main form input[type=text],
body.page-node-add .block-system-main form select,
body.page-node-add .block-system-main form textarea{
    width:436px;
}
body.page-node-add .block-system-main form select.date-clear{
    width:auto;
}
body.page-node-add .block-system-main form label{
    padding-bottom:1em;
}
form .field-multiple-table th.field-label {
    padding-left: 24px;
    padding-top: 12px;
}
.block-profesionales-block-1 h2{
    color:#666;
    padding:0;
}
.view-profesionales .views-field-title a{
    color: #868686;
    font-size: 12px;
    font-weight: bold;
}
/*facetapi*/
#region-sidebar-first .block{
    background-color: #F9F9F9;
    margin-bottom: 1em;
    padding: 12px;
}
#region-sidebar-first .block h2{
    padding-bottom:0.4em;
    letter-spacing: -1.1px;
}
#region-sidebar-first .block .content li{
    padding:0;
    margin:0;
    border:0 none;
    border-bottom:1px solid #e8e8e8;
    min-height:30px;
    line-height:30px;
}
#region-sidebar-first .content li.expanded{
    list-style:none;
}
#block-menu-menu-menu-pie{
    float:right;
}
#block-menu-menu-menu-pie ul.menu li{
    float:left;
}
#block-menu-menu-menu-pie ul.menu li a{
    border-left: 1px solid;
    margin-left: 1em;
    padding-left: 1em;
}
#block-menu-menu-menu-pie ul.menu li.first a{
    margin:0;
    padding:0;
    border:0 none;
}
/*.block-facetapi .content .item-list li a.facetapi-active{
    background-color: #999999;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    color: #FFFFFF;
    display: block;
    padding: 0 16px;
}*/
#region-sidebar-first .block .content li li.first,
#region-sidebar-first .block .content li li{
    padding:0.3em 0;
    margin:0 0 0 8px;
    border:0 none;
    height:auto;
    line-height:100%;
    min-height:18px;
}
.group-servicios-complem h3 span{
       color: #666666;
    display: block;
    font-weight: normal;
    margin-top: 20px;
}
#node_profesionales_full_group_espec_unid_prof span.fieldset-legend{
      display: block;
    font-size: 18px;
    padding-bottom: 0.5em;  
}
/* detalle de especialidades y servicios */
body.node-type-especialidades .field-name-field-imagenes-article{
    float: left;
    margin-bottom: 1em;
    margin-right: 1em;
}
#block-views-especialidades-node-index-block .view-filters{
    margin-bottom: 1em;
    padding-bottom: 4px; 
}
#block-views-especialidades-node-index-block .view-filters .views-exposed-widgets {
    margin:0;
    padding:0;
}
#block-views-especialidades-node-index-block .view-filters .views-exposed-widgets  label{
    float: left;
    margin-right: 60px;
    padding-top: 8px;
}
#block-views-especialidades-node-index-block .item-list ul{
    margin:0;
    padding:0;
    color:#00B27A;
}
#block-views-especialidades-node-index-block .item-list li div{
    display:inline;
}
#block-views-especialidades-node-index-block .item-list li a{
    font-size:12px;
}
body.page-especialidades-y-servicios #region-content .view-filters,
body.page-especialidades-y-servicios #region-sidebar-first,
body.page-especialidades-y-servicios #region-sidebar-second,
body.page-nuestros-profesionales #region-content .view-filters,
body.page-nuestros-profesionales #region-sidebar-first,
body.page-nuestros-profesionales #region-sidebar-second {
    margin-top:20px;
}
body.page-especialidades-y-servicios #zone-content .view.especialidades .view-content{
      background-color: #F9F9F9;
    border: 1px solid #E1E1E1;
    padding: 20px;
    overflow:hidden;
    margin-top:30px;
}
body.page-especialidades-y-servicios #zone-content,
body.page-nuestros-profesionales #zone-content {
    position:relative;
}
body.page-especialidades-y-servicios #region-content{
    position:static;
}
body.page-especialidades-y-servicios #region-content .views-exposed-form{
    position:relative;
}
body.page-especialidades-y-servicios #region-content .views-exposed-form #edit-search-api-views-fulltext{
    width:408px;
}
body.page-especialidades-y-servicios #region-content .views-exposed-form #edit-submit-especialidades-node-index{
    left: 382px;
    position: absolute;
    top: 42px;
}
body.page-nuestros-profesionales #region-content {
    width: 450px;
    position:static;
}
body.page-especialidades-y-servicios #breadcrumb,
body.page-nuestros-profesionales #breadcrumb{
    margin-bottom: 84px;
}
body.page-especialidades-y-servicios h1,
body.page-nuestros-profesionales h1{
    border-bottom: 1px solid #E0E0E0;
    left: 0;
    padding-bottom: 16px;
    position: absolute;
    top: 43px;
    width: 100%;
}
body.page-especialidades-y-servicios .contextual-links-region > h1,
body.page-nuestros-profesionales .contextual-links-region > h1{
    top: -90px;
width: 930px;
left: -241px;
}
body.page-nuestros-profesionales .view-nuestros-profesionales h2.node-title{
    line-height:20px;
}
body.page-nuestros-profesionales .view-nuestros-profesionales h2.node-title a{
    color: #666666;
    font-size: 18px;
    letter-spacing: -1px;
}
body.node-type-especialidades .pruebas_especialidad h3 span{
    background-image:url('../images/more-info-blue.png');
    background-repeat:no-repeat;
    background-position: right center;
    color:#00c6d7;
    font-size:18px;
        cursor: pointer;
    display: inline-block;
    padding-right: 83px;
}
body.node-type-especialidades .pruebas_especialidad .field-name-field-pru-ser-especialidades{
    display:none;
}
#views-exposed-form-nuestros-profesionales-page .form-text{
    width:100%;
}
body.page-especialidades-y-servicios #zone-content .view.especialidades .view-content li.views-row .views-field-title{
    display:inline;
}
body.page-especialidades-y-servicios #zone-content .view.especialidades .view-content li.views-row .views-field-title span{
    font-size:12px;
}
body.page-especialidades-y-servicios #zone-content .view.especialidades .view-content li.views-row{
    float:left;
    width:298px;
}
.quicktabs-tabpage .view-profesionales-node-index .item-list li .views-field-title{
    display:inline;
}
.quicktabs-tabpage #edit-search-api-views-fulltext-wrapper label{
       float: left;
    margin-right: 60px;
}
.quicktabs-tabpage .view-profesionales-node-index .item-list li .views-field-title span{
    font-size:12px;
}
.quicktabs-tabpage .view-profesionales-node-index .item-list li,
.views-field-field-dotacion-fisica-centro li,
.views-field-field-actividad-asist-centro li,
body.page-especialidades-y-servicios #zone-content .view.especialidades .view-content li.views-row,
#block-views-especialidades-node-index-block .item-list li,
.group-espec-unid-prof .field-item a,
.views-field-field-centro li,
.block-facetapi li,
.views-field-field-zona li,
.field-type-text li,
.field-type-text-long li,
.field-type-text-with-summary li{
    list-style:none;
    padding-bottom:1em;
}
#block-views-especialidades-node-index-block .item-list li{
    padding:0;
    margin-bottom:0;
}
#block-nodeblock-1163{
    position:relative;
}
#block-nodeblock-1163 .field-name-field-enlace-bloque a{
        display: block;
    height: 100%;
    left: 0;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    width: 100%;
    z-index: 100;
}
.views-display-top .ctools-button-processed {
    top:-36px;
}

@media only screen and (max-width: 1030px){
    #page{
        width:100%;
    }
}

#region-sidebar-first .block .content li li:before,
.quicktabs-tabpage .view-profesionales-node-index .item-list li:before,
.views-field-field-dotacion-fisica-centro li:before,
.views-field-field-actividad-asist-centro li:before,
body.page-especialidades-y-servicios #zone-content .view.especialidades .view-content li.views-row:before,
#block-views-especialidades-node-index-block .item-list li:before,
.group-espec-unid-prof .field-item a:before,
.views-field-field-centro li:before,
.block-facetapi li li:before,
.views-field-field-zona li:before,
.field-type-text-long li:before,
.field-type-text li:before,
.field-type-text-with-summary li:before{
    content: "-  ";
}
